body{
    font-family: 'Oswald', sans-serif;
    background-color: #171b26;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}
p{
    font-size: 1.5em;
}
.naviBar {
    padding: .6em;
    background-color:#9402FC;
}
.navBar{
    margin: 1.5em;
}
.naviBar li {
    display: inline;
}
.resourceNavi {
    padding: .3em;
    background-color:rgba(3, 73, 252, .6);
}
.resourceNaviBar{
    margin: 1.5em;
}
.resourceNavi li {
    display: inline;
    font-size: .85em;
}
li a:hover {
    background-color: #111;
}
.signature{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signature img{
    width: 20em;
}
#intro-title{
    font-size: 3.5em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
#intro-body{
    font-size: 1.5em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
#disclaimer{
    font-size: 1.25em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
#editing{
    padding-left: 5%;
    padding-right: 5%;
}
/* #editing-title{
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
} */
#what-im-using, #how-to-edit, #exporting{
    font-size: 2em;
    text-decoration: underline;
    margin-top: 0.5em;
}
#here-link, #playlist-link{
    font-size: 1em;
    text-decoration: underline;
}
#here-link:hover, #playlist-link:hover{
    background-color: rgba(255, 255, 41, .6);
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 

    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    img{
        width: 10em;
    }
    #intro-body{
        font-size: 40px;
    }
    #disclaimer{
        font-size: 35px;
    }
    p{
        font-size: 40px;
    }
    #what-im-using, #how-to-edit, #exporting{
        font-size: 50px;
    }
    #here-link, #playlist-link{
        font-size: 40px;
    }

}

/* ----------- iPhone 6+, 7+, 8+ ----------- */
@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    img{
        width: 10em;
    }
    #intro-body{
        font-size: 40px;
    }
    #disclaimer{
        font-size: 35px;
    }
    p{
        font-size: 40px;
    }
    #what-im-using, #how-to-edit, #exporting{
        font-size: 50px;
    }
    #here-link, #playlist-link{
        font-size: 40px;
    }

}

/* ----------- iPhone X ----------- */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    img{
        width: 10em;
    }
    #intro-body{
        font-size: 40px;
    }
    #disclaimer{
        font-size: 35px;
    }
    p{
        font-size: 40px;
    }
    #what-im-using, #how-to-edit, #exporting{
        font-size: 50px;
    }
    #here-link, #playlist-link{
        font-size: 40px;
    }

}

/* ----------- iPhone 11 ----------- */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    img{
        width: 10em;
    }
    #intro-body{
        font-size: 40px;
    }
    #disclaimer{
        font-size: 35px;
    }
    p{
        font-size: 40px;
    }
    #what-im-using, #how-to-edit, #exporting{
        font-size: 50px;
    }
    #here-link, #playlist-link{
        font-size: 40px;
    }

}

/* iPhone 12 */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 
    
    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    img{
        width: 10em;
    }
    #intro-body{
        font-size: 40px;
    }
    #disclaimer{
        font-size: 35px;
    }
    p{
        font-size: 40px;
    }
    #what-im-using, #how-to-edit, #exporting{
        font-size: 50px;
    }
    #here-link, #playlist-link{
        font-size: 40px;
    }

}