body{
    font-family: 'Oswald', sans-serif;
    background-color: #171b26;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}
h1{
    font-size: 3.5em;
    text-align: center;
}
.naviBar {
    padding: .6em;
    background-color:#9402FC;
}
.navBar{
    margin: 1em;
}
.naviBar li {
    display: inline;
}
li a:hover {
    background-color: #111;
}
.signature{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signature img{
    width: 20em;
}
.intro-text{
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
}
.latest-video{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#latest-label{
    justify-content:left;
    font-size: 3em;
}
#ender{
    padding-left: 10%;
    margin-top: 5%;
    font-size: 1.25em;
}
/* .navBar {
    list-style-type: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navBar li{
    float: left;
}
.navBar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navBar li a:hover {
    background-color: #111;
} */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 

    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    .intro-text{
        font-size: 40px;
    }
    #ender{
        font-size: 40px;
    }

}

/* ----------- iPhone 6+, 7+, 8+ ----------- */
@media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    .intro-text{
        font-size: 40px;
    }
    #ender{
        font-size: 40px;
    }
}

/* ----------- iPhone X ----------- */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) { 
    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    .intro-text{
        font-size: 40px;
    }
    #ender{
        font-size: 40px;
    }

}

/* ----------- iPhone 11 ----------- */
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 3) { 
    a{
        font-size: 4em;
    }
    .signature img{
        width: 25em;
    }
    .intro-text{
        font-size: 40px;
    }
    #ender{
        font-size: 40px;
    }
}

/* iPhone 12 */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { 
    .intro-text{
        font-size: 40px;
    }
    #ender{
        font-size: 40px;
    }
}