body{
    font-family: 'Oswald', sans-serif;
    background-color: #171b26;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2em;
}
.naviBar {
    padding: .6em;
    background-color:#9402FC;
}
.navBar{
    margin: 1em;
}
.naviBar li {
    display: inline;
}


.resourceNavi {
    padding: .3em;
    background-color:rgba(3, 73, 252, .6);
}
.resourceNaviBar{
    margin: 1em;
}
.resourceNavi li {
    display: inline;
    font-size: .75em;
}
li a:hover {
    background-color: #111;
}
.signature{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signature img{
    width: 20em;
}
#intro-title{
    font-size: 3.5em;
    text-align: center;
}
#intro-body{
    font-size: 1.5em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
#disclaimer{
    font-size: 1em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}